
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Display</title>
   </head>
   <body>
      <div class="container">
         <form action="/" method="post">
            <input type="text" placeholder="Name" name="name">
            <input type="email" placeholder="Email" name="email" autocomplete="off"> 
            <input type="text" placeholder="Phone Number" name="phone" autocomplete="off"> 
            <input type="text" placeholder="Address" name="address" autocomplete="off"> 
            <input type="submit" placeholder="Submit">
         </form>
      </div>
      <table>
         <tr>
            <th>id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Update</th>
            <th>Delete</th>
         </tr>
         <% if(test.length > 0) { %>
            <% for (var i=0; i<test.length; i++) { %>
         <tr>
            <td> <%- test[i].id %></td>
            <td> <%- test[i].name %></td>
            <td> <%- test[i].email %></td>
            <td> <%- test[i].phone %></td>
            <td> <%- test[i].address %></td>
            <td> <a href="/update?id=<%- test[i].id %>" target="_blank">Update</a></td>
            <td> <a href="/delete?id=<%- test[i].id %>" target="_blank">Delete</a></td>
         </tr>
         <% } %>
         <% } else { %>
         <h1>Data Not Found !</h1>
         <% } %>
      </table>
   </body>
</html>