<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Update</title>
   </head>
   <body>
      <div class="container">
         <form action="/updateData" method="post">
            <input type="text" name="id" value="<%= test[0].id %>" readonly>
            <input type="text" placeholder="Name" name="name" value="<%= test[0].name %>">
            <input type="email" placeholder="Email" name="email" value="<%= test[0].email %>" autocomplete="off"> 
            <input type="text" placeholder="Phone" name="phone" value="<%= test[0].phone %>" autocomplete="off"> 
            <input type="text" placeholder="Address" name="address" value="<%= test[0].address %>" autocomplete="off"> 
            <input type="submit" placeholder="Submit">
         </form>
      </div>
 
   </body>
</html>